/**
.robot-select {
	background: #f0e7e7;
	border-width: 5px;
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.robot-button {
	background: #e77d11;
	border-width: 5px;
	border-radius: 10px;
}

.robot-button :before {
	background: #fda600;
	border-width: 5px;
	border-radius: 10px;
}
*/


#rover-canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.infotext {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	color: white;
}
