html, body { overflow: hidden; padding: 0; height: 100%; width: 100%; font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif; }

body { margin: 10px; background: #fff; }

h1 { margin: 0; padding: 6px; border:0; font-size: 12pt; }

#header { height: 90px; padding: 0; background-color: #eee; border: 1px solid #888; }

#subheader { height: 12px; text-align: right; font-size: 10px; color: #555;}

#map {
  height: 100%; width: 100%;
  background: black;
  z-index: 0;
}

.olImageLoadError {
  display: none !important;
}

.olControlAttribution {
  bottom: 0px !important; left: 2px; right: inherit; width: 400px;
}

/* conditionally position control differently for Google Maps */
.olForeignContainer div.olControlMousePosition { bottom: 28px; }

.back-button {
  position: absolute !important;
  position: top;
  color: black;
  z-index: 100000000000000;
}