input:disabled {
  opacity: 0.75;
}

.disabled {
  opacity: 0.75;
}

input {
  width: 100%;
}

p {
  color: white;
  font-weight: bold;
}

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex !important;
  margin: 0px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}
